/vendor/
/var/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/.phpunit.result.cache
/behat.php
/behat.yml
/phpunit.xml

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local
