includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 6

    paths:
        - src

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

    ignoreErrors:
        - identifier: missingType.iterableValue
