{% if resource.gatewayConfig.factoryName == 'sylius.pay_pal' %}
<div style="width:100%">
    <img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/9_bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal">
</div>
{% endif %}
