{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = path('sylius_admin_payment_method_create', {'factory': 'sylius.pay_pal'}) %}

<div class="ui buttons icon top floating button primary">
    {{ buttons.default(path, 'sylius.pay_pal.enable_paypal'|trans , null, null) }}
</div>
